# Virtual environment directory
demo/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Logs and database files
*.log
*.sqlite3

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db